[Desktop Entry]
Name=TreeNote
GenericName=Outliner
Comment=Outliner for personal knowledge and task management
Exec=treenote %f
Icon=treenote
StartupNotify=true
Terminal=false
Type=Application
Categories=Office;
MimeType=application/x-treenote; 
